.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 400%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000000;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.helpA{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.con1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.con2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.con3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.con4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}