.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 400%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000000;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}